section .about-container.parent {
    width: 95%;
}

section .about-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 95%;
    background-color: #fff1d8;
    border: 20px solid #fff1d8;
}

section .text-container {
    max-width: 1000px;
    margin-top: 5px;
    width: 100%;
}

section .divider {
    width: 100%;
    overflow: hidden;
}

section .parent {
    display: flex;
    flex-direction: column;
}

section .img-container {
    width: 100%;
    margin-bottom: 0;
    max-width: 1000px;
}

section .img-container .about-img {
    background-image: url('../images/about.jpg');
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section .about-container h2 {
    line-height: 1;
    font-family: courier;
    font-size: 2.5vw;
    margin: 0;
}

section .about-container h2 > a {
    text-decoration: none;
}
@media screen and (max-width: 998px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    section .about-container h2 {
        display: inline-table;
    }
}

@media screen and (max-width: 998px) {
    section .about-container {
        flex-direction: column;
    }
    
    section .img-container .about-img {
        width: 100%;
        height: 450px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    section .about-container h2 {
        line-height: 1;
        font-size: 5vw;
    }
}

@media screen and (max-width: 468px) {
    section .img-container .about-img {
        height: 200px;
        margin-bottom: 0;
    }

    section .about-container h2 {
        line-height: 1.2;
        font-size: 4.5vw;
    }
}