@font-face {
    font-family: MoonFlower;
    font-weight: bold;
    src: local('MoonFlower'), url('moonflowerbold.ttf') format('truetype');
}

@font-face {
    font-family: MoonFlower;
    src: url('../css/moonflower.ttf') format('truetype');
}

@font-face {
    font-family: 'SkyLine';
    src: url('SmallTownSkyline.eot'); /* IE9 */
    src: url('SmallTownSkyline.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
    url('../css/SmallTownSkyline.ttf') format('truetype');
}