div.price_card {
	border: 2px dotted black;
	font-family: courier;
	text-align: center;
	margin-bottom: 5px;
	background-color: #fff;
	padding:0 5px;
}

div.price_card .header {
	font-weight: bold;
	margin: 0 5px;
}

div.price_card .header span.italics{
	font-style: italic;
	font-weight: normal;
}

div.price_card .price {
	color: #E93C3C;
	font-weight: bold;
	font-size: 26px;
}

div.price_card .disclaimer {
	font-size: 12px;
}

div.pricing_container {
	background-color: #fff1d8;
}

div.pricing_container .column .column_header {
	background-color: #E93C3C;
	color: #000;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	margin: 5px 0;
}

@media screen and (max-width: 468px) {

	div.price_card .price {
		font-size:32px;
	}	

	div.price_card .disclaimer {
		font-size: 10px;
	}

	div.pricing_container .column .column_header {
		font-size: 32px;
	}
}